body {
    margin:auto
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: lightblue; /* Added background color */
}

.top-nav, .footer {
    background-color: #FF4500;
    text-align: center;
    max-width: 100%;
    height: 5vh;
    max-height: 40vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .top-nav a {
        color: white; /* Set the desired color value */
    }
        color: white;
        text-decoration: underline;
        text-decoration-color: white;
        text-decoration-thickness: 2px;
        .footer {
            color: white; /* Set the desired color value */
            font-size: 5vh; /* Set the desired font size value */
            text-align: center; /* Set the desired text alignment */
        .footer {
            text-decoration: none;
        }
            font-weight: bold;
        }
    }

    .top-nav a:hover {
        color: yellow;
    }
/*    padding: 5px 0;*/

}


/*underline color white*/

.top-nav ul {
    text-decoration: underline;



}

.top-nav ul,.footer ul {
    list-style: none;
    margin: 0;
    padding: 0;
}


.nav ul {
    list-style: none;
    padding: 0;
    display: flex; /* Added */
    justify-content: center; /* Added */
}

.nav ul li {
    display: inline;
    margin-right: 10px;
}

.nav ul li a {
    color: #fff;
    text-decoration: none;
}

.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    /*overflow: auto;*/
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.welcome {
    color: black;
    font-size: 5vh;
    text-align: center; /* Added */
    font-weight: bold;
}

.logo {
    max-width: 100%;
    max-height: 30vh;
    margin-bottom: 20px;
    animation: spin 4s linear infinite;
}

.main {
    text-align: center;
}
body {
    overflow: hidden;
}
.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: auto;
    flex: 1;
    /*overflow: auto;*/
    justify-content: center;
    align-items: center;        
    height: 100vh;
}  

.button {
    background-color: #FF4500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    margin: 0;
}

.button:hover {
    background-color: #FF6347;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    /* padding: 10px 0;*/
    background-color: #FF4500;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
